<!DOCTYPE html>
<html>
    <head>
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    </head>

    <body>
        <header class="text-gray-400 bg-gray-900 body-font">
            <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
              <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
                <img src="{{url_for('static', filename='assets/logo.png')}}" width="38" height="38">
                <span class="ml-3 text-xl">The Fellowship of the Pog</span>
              </a>
              <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
                <a class="mr-5 hover:text-white" href="/">Home</a>
                <a class="mr-5 hover:text-white" href="/home">Data</a>
                <a class="mr-5 hover:text-white" href="/contrib">Fellowship of the Pog Team Members</a>
              </nav>
             
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </button>
            </div>
          </header>

          <section class="text-gray-400 bg-gray-900 body-font">
            <div class="container px-5 py-24 mx-auto flex flex-col">
              <div class="lg:w-4/6 mx-auto">
                
                <img alt="content" class="object-cover object-center h-full w-full" src="{{url_for('static', filename='assets/logo.png')}}">
               
            </div>
          </section>

          <img alt="content" class="object-cover object-center h-full w-full" style="width:80% align=middle" src="{{url_for('static', filename='assets/grouppic.jpeg')}}">

    </body>
</html>